<a href="https://colab.research.google.com/github/nguyenducnam03/LinearRegresison/blob/main/5_4_Linear_Regression_Predict_Housepricingsklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [ ]:
boston = load_boston()
datas = boston.data
labels = boston.target

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
bos = pd.DataFrame(datas)
bos.columns = boston.feature_names
bos

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(datas,labels,test_size = 0.2)
sklearn_reg = LinearRegression().fit(X_train,y_train)
print(sklearn_reg.coef_.shape)
print(X_test.shape)
print(y_test.shape)
print(y_test)

(13,)
(102, 13)
(102,)
[ 6.3 20.9 29.9 23.9 36.5  8.3 21.4 19.3 50.   7.4 27.5 22.9 30.8 34.6
 20.4 19.4 48.3  8.8 50.  12.8 20.6 33.4 21.2 17.6 12.7 17.1 31.5 28.5
 17.9 10.9 20.4 29.8 23.4 22.4 13.8  7.  24.8 24.4 19.2 22.5 25.  21.6
 21.  16.4  8.3 37.  20.8 16.6 37.3 18.7 24.1 33.  23.3 28.  19.1 26.2
 29.  24.2 17.7  7.  15.3 24.  25.2 19.4 50.  35.4 42.8 19.6 22.  22.3
 21.7  8.8 23.7  5.6 19.1 22.2 27.9 23.  23.9 20.6 36.1 43.5 33.2 17.1
 21.2 26.6 20.8 33.1 34.9  9.7 18.4 10.5 16.6 21.7 24.8 14.1 15.6 15.2
 19.3 29.8 17.8 18.2]

In [ ]:
y_predict = []
for i in range(X_test.shape[0]):
  cost = 0
  for j in range(sklearn_reg.coef_.shape[0]):
    cost += X_test[i][j]*sklearn_reg.coef_[j]
  y_predict.append(cost+sklearn_reg.intercept_)
# print(y_predict)
#error (cost function)
cost = 0
for i in range(len(y_predict)):
  cost += (y_predict[i] - y_test[i])**2
cost = math.sqrt(cost/len(y_predict))
print(cost)

4.920115621870669